@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(App).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<Authorizing>Lütfen bekleyin...</Authorizing>
			</AuthorizeRouteView>
			<FocusOnNavigate RouteData="@routeData" Selector="h1" />
		</Found>
		<NotFound>
			<PageTitle>Bulunamadı</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<p role="alert">Üzgünüz, adres bulunamadı.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>